
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"], select, input[type="time"],
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* .methods_payment {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.methods_payment i:first-child {
  margin-right: 20px;
} */

.methods_payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.methods_payment button:first-child{
  margin-right: 15px;
}
.methods_payment i {
  margin-bottom: 10px;
}
.payments {
  display: flex;
  justify-content: center;
  color: #ccc;
  font-size: 14px;
}
.payments button {
  background-color: transparent;
  color: black;
}
.payments button:hover {
  filter: drop-shadow(2px 2px 2px #4caf4f7e);
}

.select {
  color: #45a049!important;
}