<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://kit.fontawesome.com/5beb01dd07.js" crossorigin="anonymous"></script>

    <title>Comida de Rua</title>
</head>
<body>
    <header>
        <h1>Comida de Rua</h1>
    </header>
    <main>
        <section>
            <form action="/concluirPagamento" method="POST">
                <label for="name">Nome Completo: </label>
                <input type="text" required id="name" name="name">
                <label for="order">Pedido:</label>
                <select name="order" id="order">
                    {% for item in dados %}
                    <option value="{{item.value}}">{{item.key}}</option>
                    {% endfor %}
                </select>
                <label for="hour">Horário de busca:</label>
                <input type="time" id="hour" name="hour" placeholder="HH:MM" required>
                        <div class="payments">
                            <button type="button" class="methods_payment select" id="credit" onclick="selectPayment(event, 'Crédito')">
                                <i class="fas fa-credit-card"></i> <span>Crédito</span>
                            </button>
                            <button type="button" class="methods_payment" id="pix" onclick="selectPayment(event, 'pix')">
                                <i class="fab fa-pix"></i> <span>Pix</span>
                            </button>
                    </div>
                <input type="hidden" id="payment_method_input" name="payment_method" value="">
                <button type="submit">Gerar Pagamento</button>
            </form>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            // Obter o formulário
            var form = document.querySelector('form');

            // Adicionar um evento de envio ao formulário
            form.addEventListener('submit', function(e) {
                // Impedir o envio padrão do formulário
                e.preventDefault();

                // Criar um objeto FormData para enviar o formulário
                var formData = new FormData(form);

                // Fazer uma solicitação AJAX para enviar o formulário
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // Analisar a resposta JSON
                        // console.log(xhr)
                        var response = JSON.parse(xhr.responseText);
                        // console.log(response[0].name)
                        console.log(response.name)
                        // Obter os valores do objeto JSON
                        var name = response.name;
                        var order = response.order;
                        var hour = response.hour;
                        var payment_method = response.payment_method

                        // Exibir o toast com a mensagem de confirmação
                        Swal.fire({
                            icon: 'success',
                            title: 'Pedido realizado com sucesso!',
                            html: 'Nome: ' + name + '<br> Pedido: ' + order + '<br> Horário: ' + hour + '<br> Pagamento: ' + payment_method,
                            showCloseButton: true,
                        });

                        form.reset()
                    }
                };
                xhr.send(formData);
            });
        });
        function selectPayment(event, paymentMethod) {
            console.log(paymentMethod);
            event.preventDefault();
            let creditButton = document.querySelector("#credit");
            let pixButton = document.querySelector("#pix");
            if (paymentMethod == 'Crédito') {
                creditButton.classList.add('select')
                pixButton.classList.remove('select')
            } else {
                creditButton.classList.remove('select')
                pixButton.classList.add('select')
            }

            const paymentMethodField = document.getElementById('payment_method_input');
            paymentMethodField.value = paymentMethod;
        }



    </script>
</body>
</html>
