@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.btn-primary {
  color: white!important;
}
.table-header {
  background-color: #393939 !important;
  color: #fff !important;
  text-align: center;
  font-size: .85em !important;
}

.table-body {
  border-radius: 1.25rem!important;
  width: 100%;
  margin-top: 1.25rem!important;
}

.table-totals-body {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.25rem!important;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  margin-top: 30px;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 59px!important;
  height: 100%!important;
  max-height: 59px!important;
}
.v-data-table__wrapper {
  border-radius: 10px;
}
.v-data-table-header {
  background-color: #4caf50;
}
.text-center.sortable {
  color: white !important;
}
thead > tr > th:last-child {
  position: sticky !important;
  position: -webkit-sticky !important;
  background-color: #4CAF50 !important;
  right: 0;
}

thead > tr > th > span > svg {
  fill: #fff !important;
  z-index: 999;
}

tbody > tr > td {
  padding: 0 8px !important;
}

tbody > tr > td:last-child {
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  /* background-color: #fff; */
  backdrop-filter: blur(30px);
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track *

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7e7c;
  border-radius: 20px;
  transition: 0.4s ease-in-out;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3d3c;
}